/* Header */
.header-container {
    display: flex;
    /* background-color: azure; */
    margin: 20px;
  }
  

.header-left {
    /* background-color: blue; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left .logo {
    --logo-width-percent: 80%;
    width: var(--logo-width-percent);
}

.header-right {
    /* background-color: magenta; */
    width: 70%;
}

/* Navigation Bar */
nav {
    width: 100%;
    /* background-color: red; */
}
nav ul {
    display: flex;
    /* width: 100%; */
    /* background-color: red; */
    
}
nav li {
    position: relative;
    display: block;
    width: 150px;
    margin-right: 10%;
    margin-left: auto;
    text-align: right;
    /* background-color: aqua; */
    justify-content: space-around;
}

nav hr {
    height: 2px;
    border-width: 0;
    background-color: black;
}

nav a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
nav .active {
    background-color: lightgray;
}
nav a:hover {
    cursor: pointer;
    background-color: yellow;
}