body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

.header-container {
    display: flex;
    background-color: azure;
    margin: 20px;
}



.header-left {
    background-color: blue;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left .logo {
    background-color: gray;
    --logo-width-percent: 80%;
    width: var(--logo-width-percent);
}

.header-right {
    background-color: magenta;
    width: 70%;
}


nav {
    width: 100%;
    background-color: red;
}
nav ul {
    display: flex;
    /* width: 100%; */
    justify-content: right;
}
nav li {
    /* float: right; */
    display: inline;
    padding: 0 10%;
    margin: 0 5%;
    /* background-color: aqua; */
}

nav hr {
    height: 2px;
    border-width: 0;
    background-color: black;
}

nav .active {
    background-color: yellow;
}




/* ---------------------------- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightskyblue;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item > img {
    width: 90%;
    border: 1px solid black;
}

input {
    display: inline;
}
fieldset {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    border: 0px;
}
fieldset > label {
    font-size: 14px;
    text-align: left;
}
fieldset .price {
    font-weight: 400;
}


.radio-group {
    display: flex;
}
.radio-group input {
    /* visibility: hidden; */
}

.radio-group label {
    width: 20px;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    border: 1px solid black;
}

.radio-group input:checked + label {
    background: red;
}